body {
    /*font-family: 'Gothic A1', sans-serif;*/
    font-family: 'Didact Gothic', sans-serif;
}

.background {
    background-image: url('/images/bamboo-60.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 800px;
}

#nav-light {
    background-color: #e9e8e5;
}

#contact-btn {
    border: solid 2px black;
}

#contact-btn:hover {
    background-color: #fcd380;
    transition: 0.8s;
}

.nav-link {
    margin-left: 5px!important;
    margin-right: 5px !important;
}

.nav-right {
    float: right;
}


.center-jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.end-header {
    height: 0px;
    border: none;
    border-top: 3px solid black;
    width: 150px;
}

#what-is-section {
    height: 500px;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.bg-block {
    background-color: #e9e8e5;
    margin-top: 25px;
    height: 800px;
}

.footer {
    /*background: #81ccfb;*/
    padding: 3em;
    left: 0;
    right: 0;
    bottom: 0;
}

